{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ formation.datedebut ? formation.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ formation.datefin ? formation.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ formation.capacite }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ formation.titre }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ formation.statut ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ModeFormation</th>
                <td>{{ formation.modeFormation }}</td>
            </tr>
            <tr>
                <th>Workshop</th>
                <td>{{ formation.workshop.titre }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_formation_index') }}">back to list</a>

    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
