{% extends 'base.html.twig' %}

{% block title %}Détails du Type d'événement{% endblock %}

{% block body %}
  <h1>Details of event type</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>ID</th>
        <td>{{ typeEvenement.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ typeEvenement.nom }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ typeEvenement.description }}</td>
      </tr>
      <tr>
        <th>Image</th>
        <td>
          {% if typeEvenement.urlImage %}
            <img src="{{ asset('uploads/images/' ~ typeEvenement.urlImage) }}" alt="Image de l'événement" width="100">
          {% else %}
            No available image
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Category</th>
        <td>
          {% if typeEvenement.categorie %}
            {{ typeEvenement.categorie.nom }}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

<a href="{{ path('tables', { 'id': typeEvenement.categorie.id }) }}" class="btn btn-info">Back to list</a> 
  <form method="post" action="{{ path('app_type_evenement_delete', { id: typeEvenement.id }) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeEvenement.id) }}">
  </form>
{% endblock %}
