{% extends 'base.html.twig' %}

{% block title %}Collaboration{% endblock %}

{% block body %}
    </div>

    <div class="container-form">
        <h1>Collaboration</h1>

        <table class="table">
            <tbody>
                
                <tr>
                    <th>Nom_c</th>
                    <td>{{ collaboration.nomC }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ collaboration.type }}</td>
                </tr>
                <tr>
                    <th>Date_sig</th>
                    <td>{{ collaboration.dateSig ? collaboration.dateSig|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Date_ex</th>
                    <td>{{ collaboration.dateEx ? collaboration.dateEx|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ collaboration.status }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Associated Partenaires:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for partenaire in collaboration.partenaire %}
                    <tr>
                        <td>{{ partenaire.idP }}</td>
                        <td>{{ partenaire.nomP }}</td>
                        <td>{{ partenaire.emailP }}</td>
                        <td>{{ partenaire.telephone }}</td>
                        <td>{{ partenaire.typeP }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No partenaires linked to this collaboration.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_collaboration_index') }}" class="btn btn-light">Back to list</a>
        <a href="{{ path('app_collaboration_edit', {'id': collaboration.id}) }}" class="btn btn-warning">Edit</a>

        {{ include('collaboration/_delete_form.html.twig') }}
    </div>
{% endblock %}
